@red: #d43c33;
@active: #C8C8C8;

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	&::after,
	&::before {
		box-sizing: border-box;
	}
}
body {
	font-size: 12px;
	line-height: 1.5;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
a {
	color: inherit;
}
input {
	font: inherit;
}
.icon {
	width: 2em;
	height: 2em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}
button {
	width: 140px;
	text-align: center;
	margin-top: 20px;
	padding: 10px;
	border: 1px solid @red;
	border-radius: 20px;
	cursor: pointer;
	font-size: 14px;
	color: white;
	background: @red;
	transition: all 0.2s;
	&:focus{
		outline: none;
		box-shadow: 0 0 0 1px #cd0000;
	}
	&:hover{
		background: #cd0000;
	}
}

// page
.page {
	border-radius: 5px;
	width: 100%;
	max-width: 1100px;
	height: 100%;
	max-height: 700px;
	display: flex;
	flex-direction: column;
	box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, .1);
	header {
		height: 50px;
		width: 100%;
		background-color: @red;
		padding: 5px 15px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		.logo {
			height: 25px;
		}
		p {
			color: white;
			font-size: 12px;
		}
	}
	section {
		display: flex;
		flex-grow: 1;
		aside {
			width: 30%;
			display: flex;
			flex-direction: column;
			background: #f7f7f7;
		}
		main {
			flex-grow: 1;
			padding: 50px 70px;
		}
	}
}

// aside
.songList-container {
	flex-grow: 1;
	.songList {
		text-align: left;
		overflow: auto;
		li {
			border-bottom: 1px solid #ddd;
			padding: 6px 10px;
			display: flex;
			align-items: center;
			cursor: pointer;
			.icon-music {
				margin-right: 10px;
			}
			.song{
				flex:1
			}
			.icon-delete{
				display: none;
				transition: all 0.1s;
			}
			&:nth-child(odd) {
				background: #eeeeee;
			}
			&:nth-child(even) {
				background: #f7f7f7;
			}
			&:hover{
				background: @active;
				.icon-delete{
					display: inline-flex;
					&:hover{
						color:@red;
					}
				}
			}
			&.active {
				background: @active;
			}
		}
	}
}
.newSong {
	text-align: center;
	padding: 20px 10px;
	font-size: 15px;
	color: white;
	background: @red;
	cursor: pointer;
	&.active {
		background: @red;
	}
}

//main
.uploadArea {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	.dragUploadArea {
		height: 100%;
		border: 2px dashed #ddd;
		border-radius: 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		color: #cecdd1;
		font-size: 16px;
	}
	.pickfiles{
		display: flex;
		justify-content: space-between;
		align-items: center;
		span{
			color: @red;
		}
	}
}

.editArea {
	display: none;
	.form {
		font-size: 14px;
		.row {
			margin: 15px 0;
			display: flex;
			label {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				width: 4em;
				margin-right: 1em;
			}
			&.actions {
				margin-left: calc(~"4em + 5px");
			}
			input[type=text], textarea{
				padding: 10px;
				border: 1px solid #ddd;
				border-radius: 5px;
				width: 100%;
				resize:none; 
			}
			input[type=text] {		
				height: 35px;
			}
		}
	}
}

// loading
.loading {
	visibility: hidden;
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .5);
	z-index: 2;
	justify-content: center;
	align-items: center;
	&.active {
		display: flex;
		visibility: visible;
	}
}
.loading-inner {
	margin: 50px auto;
	height: 60px;
	width: 10px;
	position: relative;
	background-color: @red;
	-webkit-animation: loading 1s infinite;
	animation: loading 1s infinite;
}
.loading-inner::before {
	content: "";
	background-color: @red;
	position: absolute;
	display: block;
	left: 15px;
	top: -1px;
	height: 60px;
	width: 10px;
	-webkit-animation: loading 1s infinite;
	animation: loading 1s infinite;
	-webkit-animation-delay: .16s;
	animation-delay: .16s;
}
.loading-inner::after {
	content: "";
	position: absolute;
	display: block;
	left: 30px;
	top: -1px;
	height: 60px;
	width: 10px;
	background-color: @red;
	-webkit-animation: loading 1s infinite;
	animation: loading 1s infinite;
	-webkit-animation-delay: .32s;
	animation-delay: .32s;
}
@keyframes loading {
	to {
		height: 60px;
		box-shadow: 0 0 @red;
	}
	10% {
		box-shadow: 0 -20px @red;
		height: 80px;
	}
}

//ifDelete
.ifDelete{
	visibility: hidden;
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .5);
	z-index: 2;
	justify-content: center;
	align-items: center;
	&.active {
		display: flex;
		visibility: visible;
	}
	.ifDelete-inner{
		padding: 25px;
		border-radius: 8px;
		border: 1px solid @red;
		background-color: white;
		text-align: center;
		p{
			font-size: 20px;
		}
		button{
			padding: 8px;
			width: 100px;
			margin: 40px 20px 0;
		}
		.btnNoDelete{
			background: white;
			color: @red;
		}
	}
}