* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-size: 12px;
  line-height: 1.5;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  color: inherit;
}
input {
  font: inherit;
}
.icon {
  width: 2em;
  height: 2em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
button {
  width: 140px;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #d43c33;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  color: white;
  background: #d43c33;
  transition: all 0.2s;
}
button:focus {
  outline: none;
  box-shadow: 0 0 0 1px #cd0000;
}
button:hover {
  background: #cd0000;
}
.page {
  border-radius: 5px;
  width: 100%;
  max-width: 1100px;
  height: 100%;
  max-height: 700px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.page header {
  height: 50px;
  width: 100%;
  background-color: #d43c33;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.page header .logo {
  height: 25px;
}
.page header p {
  color: white;
  font-size: 12px;
}
.page section {
  display: flex;
  flex-grow: 1;
}
.page section aside {
  width: 30%;
  display: flex;
  flex-direction: column;
  background: #f7f7f7;
}
.page section main {
  flex-grow: 1;
  padding: 50px 70px;
}
.songList-container {
  flex-grow: 1;
}
.songList-container .songList {
  text-align: left;
  overflow: auto;
}
.songList-container .songList li {
  border-bottom: 1px solid #ddd;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.songList-container .songList li .icon-music {
  margin-right: 10px;
}
.songList-container .songList li .song {
  flex: 1;
}
.songList-container .songList li .icon-delete {
  display: none;
  transition: all 0.1s;
}
.songList-container .songList li:nth-child(odd) {
  background: #eeeeee;
}
.songList-container .songList li:nth-child(even) {
  background: #f7f7f7;
}
.songList-container .songList li:hover {
  background: #C8C8C8;
}
.songList-container .songList li:hover .icon-delete {
  display: inline-flex;
}
.songList-container .songList li:hover .icon-delete:hover {
  color: #d43c33;
}
.songList-container .songList li.active {
  background: #C8C8C8;
}
.newSong {
  text-align: center;
  padding: 20px 10px;
  font-size: 15px;
  color: white;
  background: #d43c33;
  cursor: pointer;
}
.newSong.active {
  background: #d43c33;
}
.uploadArea {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.uploadArea .dragUploadArea {
  height: 100%;
  border: 2px dashed #ddd;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #cecdd1;
  font-size: 16px;
}
.uploadArea .pickfiles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.uploadArea .pickfiles span {
  color: #d43c33;
}
.editArea {
  display: none;
}
.editArea .form {
  font-size: 14px;
}
.editArea .form .row {
  margin: 15px 0;
  display: flex;
}
.editArea .form .row label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 4em;
  margin-right: 1em;
}
.editArea .form .row.actions {
  margin-left: calc(4em + 5px);
}
.editArea .form .row input[type=text],
.editArea .form .row textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  resize: none;
}
.editArea .form .row input[type=text] {
  height: 35px;
}
.loading {
  visibility: hidden;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  justify-content: center;
  align-items: center;
}
.loading.active {
  display: flex;
  visibility: visible;
}
.loading-inner {
  margin: 50px auto;
  height: 60px;
  width: 10px;
  position: relative;
  background-color: #d43c33;
  -webkit-animation: loading 1s infinite;
  animation: loading 1s infinite;
}
.loading-inner::before {
  content: "";
  background-color: #d43c33;
  position: absolute;
  display: block;
  left: 15px;
  top: -1px;
  height: 60px;
  width: 10px;
  -webkit-animation: loading 1s infinite;
  animation: loading 1s infinite;
  -webkit-animation-delay: .16s;
  animation-delay: .16s;
}
.loading-inner::after {
  content: "";
  position: absolute;
  display: block;
  left: 30px;
  top: -1px;
  height: 60px;
  width: 10px;
  background-color: #d43c33;
  -webkit-animation: loading 1s infinite;
  animation: loading 1s infinite;
  -webkit-animation-delay: .32s;
  animation-delay: .32s;
}
@keyframes loading {
  to {
    height: 60px;
    box-shadow: 0 0 #d43c33;
  }
  10% {
    box-shadow: 0 -20px #d43c33;
    height: 80px;
  }
}
.ifDelete {
  visibility: hidden;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  justify-content: center;
  align-items: center;
}
.ifDelete.active {
  display: flex;
  visibility: visible;
}
.ifDelete .ifDelete-inner {
  padding: 25px;
  border-radius: 8px;
  border: 1px solid #d43c33;
  background-color: white;
  text-align: center;
}
.ifDelete .ifDelete-inner p {
  font-size: 20px;
}
.ifDelete .ifDelete-inner button {
  padding: 8px;
  width: 100px;
  margin: 40px 20px 0;
}
.ifDelete .ifDelete-inner .btnNoDelete {
  background: white;
  color: #d43c33;
}
